
td{
    position: relative;    
}

.table-align{
    position: relative;
    width: 25px;
    height: 20px;
    top: 40px;
}

.profile-pic{
    width: 100px;
    height: 100px;
}

.sort-btn{
    cursor: pointer;
}

.sorted{
    color: green;
}
